In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when, lit, sum
from pyspark.ml.feature import StringIndexer
from pyspark.sql import DataFrame
from pyspark.sql.types import IntegerType

In [ ]:
spark = SparkSession.builder \
    .appName("MapReduce k-NN") \
    .config("spark.executor.memory", "4g") \
    .config("spark.driver.memory", "4g") \
    .config("spark.serializer", "org.apache.spark.serializer.KryoSerializer") \
    .config("spark.kryoserializer.buffer.max", "2000m") \
    .getOrCreate()

In [ ]:
# Gọi API để lấy dữ liệu JSON
import requests
api_url = "https://data.cityofnewyork.us/resource/h9gi-nx95.json"  # Thay thế bằng URL API thực tế
response = requests.get(api_url)

# Kiểm tra trạng thái phản hồi
if response.status_code == 200:
    # Tải dữ liệu JSON từ phản hồi
    data = response.json()  # Dữ liệu dưới dạng dictionary hoặc list

    # Chuyển đổi dữ liệu JSON thành DataFrame
    df = spark.read.json(spark.sparkContext.parallelize(data))

    # Hiển thị schema và một số dòng dữ liệu
    df.printSchema()
    df.show()
else:
    print(f"Lỗi khi gọi API: {response.status_code}")

root
 |-- _corrupt_record: string (nullable = true)
 |-- borough: string (nullable = true)
 |-- collision_id: string (nullable = true)
 |-- contributing_factor_vehicle_1: string (nullable = true)
 |-- contributing_factor_vehicle_2: string (nullable = true)
 |-- contributing_factor_vehicle_3: string (nullable = true)
 |-- contributing_factor_vehicle_4: string (nullable = true)
 |-- contributing_factor_vehicle_5: string (nullable = true)
 |-- crash_date: string (nullable = true)
 |-- crash_time: string (nullable = true)
 |-- cross_street_name: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- location: struct (nullable = true)
 |    |-- human_address: string (nullable = true)
 |    |-- latitude: string (nullable = true)
 |    |-- longitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- number_of_cyclist_injured: string (nullable = true)
 |-- number_of_cyclist_killed: string (nullable = true)
 |-- number_of_motorist_injured: string (nullable = true)
 |-- number_of_motorist_killed: string (nullable = true)
 |-- number_of_pedestrians_injured: string (nullable = true)
 |-- number_of_pedestrians_killed: string (nullable = true)
 |-- number_of_persons_injured: string (nullable = true)
 |-- number_of_persons_killed: string (nullable = true)
 |-- off_street_name: string (nullable = true)
 |-- on_street_name: string (nullable = true)
 |-- vehicle_type_code1: string (nullable = true)
 |-- vehicle_type_code2: string (nullable = true)
 |-- vehicle_type_code_3: string (nullable = true)
 |-- vehicle_type_code_4: string (nullable = true)
 |-- vehicle_type_code_5: string (nullable = true)
 |-- zip_code: string (nullable = true)

+---------------+---------+------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+--------------------+----------+--------------------+---------+--------------------+----------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------+--------------------+--------------------+--------------------+-------------------+-------------------+-------------------+--------+
|_corrupt_record|  borough|collision_id|contributing_factor_vehicle_1|contributing_factor_vehicle_2|contributing_factor_vehicle_3|contributing_factor_vehicle_4|contributing_factor_vehicle_5|          crash_date|crash_time|   cross_street_name| latitude|            location| longitude|number_of_cyclist_injured|number_of_cyclist_killed|number_of_motorist_injured|number_of_motorist_killed|number_of_pedestrians_injured|number_of_pedestrians_killed|number_of_persons_injured|number_of_persons_killed|     off_street_name|      on_street_name|  vehicle_type_code1|  vehicle_type_code2|vehicle_type_code_3|vehicle_type_code_4|vehicle_type_code_5|zip_code|
+---------------+---------+------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+--------------------+----------+--------------------+---------+--------------------+----------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------+--------------------+--------------------+--------------------+-------------------+-------------------+-------------------+--------+
|           NULL|     NULL|     4455765|         Aggressive Drivin...|                  Unspecified|                         NULL|                         NULL|                         NULL|2021-09-11T00:00:...|      2:39|                NULL|     NULL|                NULL|      NULL|                        0|                       0|                         2|                        0|                            0|                           0|                        2|                       0|           20 AVENUE|WHITESTONE EXPRES...|               Sedan|               Sedan|               NULL|               NULL|               NULL|    NULL|
|           NULL|     NULL|     4513547|            Pavement Slippery|                         NULL|                         NULL|                         NULL|                         NULL|2022-03-26T00:00:...|     11:45|                NULL|     NULL|                NULL|      NULL|                        0|                       0|                         1|                        0|                            0|                           0|                        1|                       0|                NULL|QUEENSBORO BRIDGE...|               Sedan|                NULL|               NULL|               NULL|               NULL|    NULL|
|           NULL|     NULL|     4541903|         Following Too Clo...|                  Unspecified|                         NULL|                         NULL|                         NULL|2022-06-29T00:00:...|      6:55|                NULL|     NULL|                NULL|      NULL|                        0|                       0|                         0|                        0|                            0|                           0|                        0|                       0|                NULL|  THROGS NECK BRIDGE|               Sedan|       Pick-up Truck|               NULL|               NULL|               NULL|    NULL|
|           NULL| BROOKLYN|     4456314|                  Unspecified|                         NULL|                         NULL|                         NULL|                         NULL|2021-09-11T00:00:...|      9:35|1211      LORING ...|40.667202|{{"address": "", ...|  -73.8665|                        0|                       0|                         0|                        0|                            0|                           0|                        0|                       0|                NULL|                NULL|               Sedan|                NULL|               NULL|               NULL|               NULL|   11208|
|           NULL| BROOKLYN|     4486609|                         NULL|                         NULL|                         NULL|                         NULL|                         NULL|2021-12-14T00:00:...|      8:13|                NULL|40.683304|{{"address": "", ...|-73.917274|                        0|                       0|                         0|                        0|                            0|                           0|                        0|                       0|      DECATUR STREET|     SARATOGA AVENUE|                NULL|                NULL|               NULL|               NULL|               NULL|   11233|
|           NULL|     NULL|     4407458|                  Unspecified|                  Unspecified|                         NULL|                         NULL|                         NULL|2021-04-14T00:00:...|     12:47|                NULL|     NULL|                NULL|      NULL|                        0|                       0|                         0|                        0|                            0|                           0|                        0|                       0|                NULL|MAJOR DEEGAN EXPR...|                Dump|               Sedan|               NULL|               NULL|               NULL|    NULL|
|           NULL|     NULL|     4486555|          Passing Too Closely|                  Unspecified|                         NULL|                         NULL|                         NULL|2021-12-14T00:00:...|     17:05|                NULL|40.709183|{{"address": "", ...|-73.956825|                        0|                       0|                         0|                        0|                            0|                           0|                        0|                       0|                NULL|BROOKLYN QUEENS E...|               Sedan|Tractor Truck Diesel|               NULL|               NULL|               NULL|    NULL|
|           NULL|    BRONX|     4486660|                  Unspecified|                  Unspecified|                         NULL|                         NULL|                         NULL|2021-12-14T00:00:...|      8:17|344       BAYCHES...| 40.86816|{{"address": "", ...| -73.83148|                        0|                       0|                         2|                        0|                            0|                           0|                        2|                       0|                NULL|                NULL|               Sedan|               Sedan|               NULL|               NULL|               NULL|   10475|
|           NULL| BROOKLYN|     4487074|          Driver Inexperience|                  Unspecified|                         NULL|                         NULL|                         NULL|2021-12-14T00:00:...|     21:10|2047      PITKIN ...| 40.67172|{{"address": "", ...|  -73.8971|                        0|                       0|                         0|                        0|                            0|                           0|                        0|                       0|                NULL|                NULL|               Sedan|                NULL|               NULL|               NULL|               NULL|   11207|
|           NULL|MANHATTAN|     4486519|          Passing Too Closely|                  Unspecified|                         NULL|                         NULL|                         NULL|2021-12-14T00:00:...|     14:58|                NULL| 40.75144|{{"address": "", ...| -73.97397|                        0|                       0|                         0|                        0|                            0|                           0|                        0|                       0|      EAST 43 STREET|            3 AVENUE|               Sedan|Station Wagon/Spo...|               NULL|               NULL|               NULL|   10017|
|           NULL|     NULL|     4486934|         Passing or Lane U...|                  Unspecified|                         NULL|                         NULL|                         NULL|2021-12-13T00:00:...|      0:34|                NULL|40.701275|{{"address": "", ...| -73.88887|                        0|                       0|                         0|                        0|                            0|                           0|                        0|                       0|                NULL|       MYRTLE AVENUE|Station Wagon/Spo...|                NULL|               NULL|               NULL|               NULL|    NULL|
|           NULL|   QUEENS|     4487127|           Turning Improperly|                  Unspecified|                         NULL|                         NULL|                         NULL|2021-12-14T00:00:...|     16:50|                NULL|40.675884|{{"address": "", ...| -73.75577|                        0|                       0|                         0|                        0|                            0|                           0|                        0|                       0|     EAST GATE PLAZA|SPRINGFIELD BOULE...|               Sedan|Station Wagon/Spo...|               NULL|               NULL|               NULL|   11413|
|           NULL|     NULL|     4486634|         Unsafe Lane Changing|                  Unspecified|                         NULL|                         NULL|                         NULL|2021-12-14T00:00:...|      8:30|                NULL|     NULL|                NULL|      NULL|                        0|                       0|                         0|                        0|                            0|                           0|                        0|                       0|west 80 street -w...|            broadway|Station Wagon/Spo...|               Sedan|               NULL|               NULL|               NULL|    NULL|
|           NULL|     NULL|     4486564|                 Unsafe Speed|                         NULL|                         NULL|                         NULL|                         NULL|2021-12-14T00:00:...|      0:59|                NULL| 40.59662|{{"address": "", ...| -74.00231|                        0|                       0|                         0|                        0|                            0|                           0|                        0|                       0|                NULL|        BELT PARKWAY|               Sedan|                NULL|               NULL|               NULL|               NULL|    NULL|
|           NULL|   QUEENS|     4486635|         Reaction to Uninv...|                  Unspecified|                         NULL|                         NULL|                         NULL|2021-12-14T00:00:...|     23:10|                NULL| 40.66684|{{"address": "", ...| -73.78941|                        0|                       0|                         2|                        0|                            0|                           0|                        2|                       0|          150 STREET|NORTH CONDUIT AVENUE|               Sedan|               Sedan|               NULL|               NULL|               NULL|   11434|
|           NULL| BROOKLYN|     4486604|          Passing Too Closely|                  Unspecified|                         NULL|                         NULL|                         NULL|2021-12-14T00:00:...|     17:58|480       DEAN ST...| 40.68158|{{"address": "", ...| -73.97463|                        0|                       0|                         0|                        0|                            0|                           0|                        0|                       0|                NULL|                NULL|              Tanker|Station Wagon/Spo...|               NULL|               NULL|               NULL|   11217|
|           NULL| BROOKLYN|     4486991|             Steering Failure|                         NULL|                         NULL|                         NULL|                         NULL|2021-12-14T00:00:...|     20:03|878       FLATBUS...| 40.65068|{{"address": "", ...| -73.95881|                        0|                       0|                         4|                        0|                            0|                           0|                        4|                       0|                NULL|                NULL|               Sedan|                NULL|               NULL|               NULL|               NULL|   11226|
|           NULL|     NULL|     4486284|         Traffic Control D...|                  Unspecified|                         NULL|                         NULL|                         NULL|2021-12-14T00:00:...|      1:28|                NULL|     NULL|                NULL|      NULL|                        0|                       0|                         3|                        0|                            0|                           0|                        3|                       0|      LORIMER STREET|       MEEKER AVENUE|Station Wagon/Spo...|Station Wagon/Spo...|               NULL|               NULL|               NULL|    NULL|
|           NULL|    BRONX|     4487040|                  Unspecified|                  Unspecified|                         NULL|                         NULL|                         NULL|2021-12-11T00:00:...|     19:43|                NULL| 40.87262|{{"address": "", ...|-73.904686|                        0|                       0|                         1|                        0|                            0|                           0|                        1|                       0|        HEATH AVENUE|WEST KINGSBRIDGE ...|Station Wagon/Spo...|               Sedan|               NULL|               NULL|               NULL|   10463|
|           NULL|     NULL|     4486537|         Following Too Clo...|                  Unspecified|                  Unspecified|                         NULL|                         NULL|2021-12-14T00:00:...|     14:30|                NULL|40.783268|{{"address": "", ...| -73.82485|                        0|                       0|                         0|                        0|                            0|                           0|                        0|                       0|                NULL|WHITESTONE EXPRES...|Station Wagon/Spo...|               Sedan|              Sedan|               NULL|               NULL|    NULL|
+---------------+---------+------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+--------------------+----------+--------------------+---------+--------------------+----------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------+--------------------+--------------------+--------------------+-------------------+-------------------+-------------------+--------+
only showing top 20 rows

In [ ]:
selected_columns = [
    "crash_date",
    "crash_time",
    "borough",
    "latitude",
    "longitude",
    "on_street_name",
    "off_street_name",
    "number_of_persons_injured",
    "number_of_persons_killed",
    "number_of_pedestrians_injured",
    "number_of_pedestrians_killed",
    "number_of_cyclist_injured",
    "number_of_cyclist_killed",
    "number_of_motorist_injured",
    "number_of_motorist_killed",
    "contributing_factor_vehicle_1",
    "contributing_factor_vehicle_2",
    "vehicle_type_code1",
    "vehicle_type_code2"
]

df_selected = df.select(*selected_columns)

In [ ]:
# Đếm tổng số dòng
total_rows = df_selected.count()

# Đếm số dòng trùng lặp
duplicate_rows = df_selected.groupBy(df_selected.columns).count().filter("count > 1").count()

# Hiển thị kết quả
print(f"Tổng số dòng: {total_rows}")
print(f"Số dòng trùng lặp: {duplicate_rows}")

Tổng số dòng: 1000
Số dòng trùng lặp: 0

In [ ]:
#Kiem tra du lieu thieu
missing_counts = df_selected.select([sum(col(c).isNull().cast("int")).alias(c) for c in df_selected.columns])
missing_counts.show()

+----------+----------+-------+--------+---------+--------------+---------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+------------------+------------------+
|crash_date|crash_time|borough|latitude|longitude|on_street_name|off_street_name|number_of_persons_injured|number_of_persons_killed|number_of_pedestrians_injured|number_of_pedestrians_killed|number_of_cyclist_injured|number_of_cyclist_killed|number_of_motorist_injured|number_of_motorist_killed|contributing_factor_vehicle_1|contributing_factor_vehicle_2|vehicle_type_code1|vehicle_type_code2|
+----------+----------+-------+--------+---------+--------------+---------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+------------------+------------------+
|         1|         1|    367|      76|       76|           259|            550|                        1|                       1|                            1|                           1|                        1|                       1|                         1|                        1|                            4|                          231|                15|               346|
+----------+----------+-------+--------+---------+--------------+---------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+------------------+------------------+

In [ ]:
total_injuries = df_selected.selectExpr("sum(number_of_cyclist_injured) as total_injuries").collect()[0]["total_injuries"]
print("Total number of persons injured:", total_injuries)

Total number of persons injured: 38.0

In [ ]:
total_kill = df_selected.selectExpr("sum(number_of_persons_killed) as total_kill").collect()[0]["total_kill"]
print("Total number of persons killed:", total_kill)

Total number of persons killed: 4.0

In [ ]:
df_selected.show()

+--------------------+----------+---------+---------+----------+--------------------+--------------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+--------------------+--------------------+
|          crash_date|crash_time|  borough| latitude| longitude|      on_street_name|     off_street_name|number_of_persons_injured|number_of_persons_killed|number_of_pedestrians_injured|number_of_pedestrians_killed|number_of_cyclist_injured|number_of_cyclist_killed|number_of_motorist_injured|number_of_motorist_killed|contributing_factor_vehicle_1|contributing_factor_vehicle_2|  vehicle_type_code1|  vehicle_type_code2|
+--------------------+----------+---------+---------+----------+--------------------+--------------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+--------------------+--------------------+
|2021-09-11T00:00:...|      2:39|     NULL|     NULL|      NULL|WHITESTONE EXPRES...|           20 AVENUE|                        2|                       0|                            0|                           0|                        0|                       0|                         2|                        0|         Aggressive Drivin...|                  Unspecified|               Sedan|               Sedan|
|2022-03-26T00:00:...|     11:45|     NULL|     NULL|      NULL|QUEENSBORO BRIDGE...|                NULL|                        1|                       0|                            0|                           0|                        0|                       0|                         1|                        0|            Pavement Slippery|                         NULL|               Sedan|                NULL|
|2022-06-29T00:00:...|      6:55|     NULL|     NULL|      NULL|  THROGS NECK BRIDGE|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|         Following Too Clo...|                  Unspecified|               Sedan|       Pick-up Truck|
|2021-09-11T00:00:...|      9:35| BROOKLYN|40.667202|  -73.8665|                NULL|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|                  Unspecified|                         NULL|               Sedan|                NULL|
|2021-12-14T00:00:...|      8:13| BROOKLYN|40.683304|-73.917274|     SARATOGA AVENUE|      DECATUR STREET|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|                         NULL|                         NULL|                NULL|                NULL|
|2021-04-14T00:00:...|     12:47|     NULL|     NULL|      NULL|MAJOR DEEGAN EXPR...|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|                  Unspecified|                  Unspecified|                Dump|               Sedan|
|2021-12-14T00:00:...|     17:05|     NULL|40.709183|-73.956825|BROOKLYN QUEENS E...|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|          Passing Too Closely|                  Unspecified|               Sedan|Tractor Truck Diesel|
|2021-12-14T00:00:...|      8:17|    BRONX| 40.86816| -73.83148|                NULL|                NULL|                        2|                       0|                            0|                           0|                        0|                       0|                         2|                        0|                  Unspecified|                  Unspecified|               Sedan|               Sedan|
|2021-12-14T00:00:...|     21:10| BROOKLYN| 40.67172|  -73.8971|                NULL|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|          Driver Inexperience|                  Unspecified|               Sedan|                NULL|
|2021-12-14T00:00:...|     14:58|MANHATTAN| 40.75144| -73.97397|            3 AVENUE|      EAST 43 STREET|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|          Passing Too Closely|                  Unspecified|               Sedan|Station Wagon/Spo...|
|2021-12-13T00:00:...|      0:34|     NULL|40.701275| -73.88887|       MYRTLE AVENUE|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|         Passing or Lane U...|                  Unspecified|Station Wagon/Spo...|                NULL|
|2021-12-14T00:00:...|     16:50|   QUEENS|40.675884| -73.75577|SPRINGFIELD BOULE...|     EAST GATE PLAZA|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|           Turning Improperly|                  Unspecified|               Sedan|Station Wagon/Spo...|
|2021-12-14T00:00:...|      8:30|     NULL|     NULL|      NULL|            broadway|west 80 street -w...|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|         Unsafe Lane Changing|                  Unspecified|Station Wagon/Spo...|               Sedan|
|2021-12-14T00:00:...|      0:59|     NULL| 40.59662| -74.00231|        BELT PARKWAY|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|                 Unsafe Speed|                         NULL|               Sedan|                NULL|
|2021-12-14T00:00:...|     23:10|   QUEENS| 40.66684| -73.78941|NORTH CONDUIT AVENUE|          150 STREET|                        2|                       0|                            0|                           0|                        0|                       0|                         2|                        0|         Reaction to Uninv...|                  Unspecified|               Sedan|               Sedan|
|2021-12-14T00:00:...|     17:58| BROOKLYN| 40.68158| -73.97463|                NULL|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|          Passing Too Closely|                  Unspecified|              Tanker|Station Wagon/Spo...|
|2021-12-14T00:00:...|     20:03| BROOKLYN| 40.65068| -73.95881|                NULL|                NULL|                        4|                       0|                            0|                           0|                        0|                       0|                         4|                        0|             Steering Failure|                         NULL|               Sedan|                NULL|
|2021-12-14T00:00:...|      1:28|     NULL|     NULL|      NULL|       MEEKER AVENUE|      LORIMER STREET|                        3|                       0|                            0|                           0|                        0|                       0|                         3|                        0|         Traffic Control D...|                  Unspecified|Station Wagon/Spo...|Station Wagon/Spo...|
|2021-12-11T00:00:...|     19:43|    BRONX| 40.87262|-73.904686|WEST KINGSBRIDGE ...|        HEATH AVENUE|                        1|                       0|                            0|                           0|                        0|                       0|                         1|                        0|                  Unspecified|                  Unspecified|Station Wagon/Spo...|               Sedan|
|2021-12-14T00:00:...|     14:30|     NULL|40.783268| -73.82485|WHITESTONE EXPRES...|                NULL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|         Following Too Clo...|                  Unspecified|Station Wagon/Spo...|               Sedan|
+--------------------+----------+---------+---------+----------+--------------------+--------------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
df_selected.printSchema()

root
 |-- crash_date: string (nullable = true)
 |-- crash_time: string (nullable = true)
 |-- borough: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- on_street_name: string (nullable = true)
 |-- off_street_name: string (nullable = true)
 |-- number_of_persons_injured: string (nullable = true)
 |-- number_of_persons_killed: string (nullable = true)
 |-- number_of_pedestrians_injured: string (nullable = true)
 |-- number_of_pedestrians_killed: string (nullable = true)
 |-- number_of_cyclist_injured: string (nullable = true)
 |-- number_of_cyclist_killed: string (nullable = true)
 |-- number_of_motorist_injured: string (nullable = true)
 |-- number_of_motorist_killed: string (nullable = true)
 |-- contributing_factor_vehicle_1: string (nullable = true)
 |-- contributing_factor_vehicle_2: string (nullable = true)
 |-- vehicle_type_code1: string (nullable = true)
 |-- vehicle_type_code2: string (nullable = true)

In [ ]:
df_selected = df_selected.withColumn('is_injured',
                   when((col('number_of_persons_injured') + col('number_of_persons_killed')) > 0, 1).otherwise(0))

In [ ]:
# Xoa nhung cot khong can thiet
cols_to_drop = ['latitude', 'longitude', 'on_street_name', 'off_street_name', 'number_of_persons_injured', 'number_of_pedestrians_killed',
                'number_of_cyclist_injured', 'number_of_motorist_injured', 'number_of_motorist_killed',
                'crash_date', 'crash_time', 'number_of_persons_killed', 'number_of_pedestrians_injured',
                'number_of_cyclist_killed']
df_dropped_cols = df_selected.drop(*cols_to_drop)

In [ ]:
#Kiem tra du lieu thieu
missing_counts = df_dropped_cols.select([sum(col(c).isNull().cast("int")).alias(c) for c in df_dropped_cols.columns])
missing_counts.show()

+-------+-----------------------------+-----------------------------+------------------+------------------+----------+
|borough|contributing_factor_vehicle_1|contributing_factor_vehicle_2|vehicle_type_code1|vehicle_type_code2|is_injured|
+-------+-----------------------------+-----------------------------+------------------+------------------+----------+
|    367|                            4|                          231|                15|               346|         0|
+-------+-----------------------------+-----------------------------+------------------+------------------+----------+

In [ ]:
#Fill du lieu thieu bang gia tri mode
categorical_cols = ['contributing_factor_vehicle_1', 'contributing_factor_vehicle_2',
                    'vehicle_type_code1', 'vehicle_type_code2', 'borough']

# for col_name in categorical_cols:
#     # Get the mode value and bring it to the driver
#     mode_value = df_dropped_cols.groupBy(col_name).count().orderBy('count', ascending=False).first()[0]
#     # Fill missing values with the mode
#     df_dropped_cols = df_dropped_cols.fillna({col_name: mode_value})
for col_name in categorical_cols:
    # Lấy mode
    mode_row = df_dropped_cols.groupBy(col_name).count().orderBy('count', ascending=False).first()

    # Kiểm tra nếu mode_row và mode_value không phải là None
    if mode_row is not None and mode_row[0] is not None:
        mode_value = mode_row[0]
    else:
        # Nếu không có mode, sử dụng giá trị 0
        mode_value = 0

    # Điền giá trị thiếu bằng mode hoặc 0
    df_dropped_cols = df_dropped_cols.fillna({col_name: mode_value})

In [ ]:
#Ma hoa du lieu bien phan loai
def encode_categorical_cols(df: DataFrame, categorical_cols: list) -> DataFrame:
    for col_name in categorical_cols:
        indexer = StringIndexer(inputCol=col_name, outputCol=col_name + "_encoded", handleInvalid='keep')
        df = indexer.fit(df).transform(df)
    return df

df_encoded = encode_categorical_cols(df_dropped_cols, categorical_cols)

In [ ]:
df_final = df_encoded.drop(*categorical_cols)

In [ ]:
# Kiểm tra lại lần nữa xem còn giá trị null không
missing_counts = df_final.select([sum(col(c).isNull().cast("int")).alias(c) for c in df_final.columns])
missing_counts.show()

+----------+-------------------------------------+-------------------------------------+--------------------------+--------------------------+---------------+
|is_injured|contributing_factor_vehicle_1_encoded|contributing_factor_vehicle_2_encoded|vehicle_type_code1_encoded|vehicle_type_code2_encoded|borough_encoded|
+----------+-------------------------------------+-------------------------------------+--------------------------+--------------------------+---------------+
|         0|                                    0|                                    0|                         0|                         0|              0|
+----------+-------------------------------------+-------------------------------------+--------------------------+--------------------------+---------------+

In [ ]:
# #Nếu còn dữ liệu null thì xóa các dòng đó đi
# df_final = df_final.drop(how ='any', thresh=None, subset=None)
# df_final.toPandas().info()

In [ ]:
df_final.show()

+----------+-------------------------------------+-------------------------------------+--------------------------+--------------------------+---------------+
|is_injured|contributing_factor_vehicle_1_encoded|contributing_factor_vehicle_2_encoded|vehicle_type_code1_encoded|vehicle_type_code2_encoded|borough_encoded|
+----------+-------------------------------------+-------------------------------------+--------------------------+--------------------------+---------------+
|         1|                                 16.0|                                  0.0|                       0.0|                       1.0|            0.0|
|         1|                                 17.0|                                  0.0|                       0.0|                       0.0|            0.0|
|         0|                                  2.0|                                  0.0|                       0.0|                       5.0|            0.0|
|         0|                                  0.0|                                  0.0|                       0.0|                       0.0|            1.0|
|         0|                                  0.0|                                  0.0|                       0.0|                       0.0|            1.0|
|         0|                                  0.0|                                  0.0|                      13.0|                       1.0|            0.0|
|         0|                                  5.0|                                  0.0|                       0.0|                      11.0|            0.0|
|         1|                                  0.0|                                  0.0|                       0.0|                       1.0|            3.0|
|         0|                                  9.0|                                  0.0|                       0.0|                       0.0|            1.0|
|         0|                                  5.0|                                  0.0|                       0.0|                       2.0|            4.0|
|         0|                                  4.0|                                  0.0|                       1.0|                       0.0|            0.0|
|         0|                                 10.0|                                  0.0|                       0.0|                       2.0|            2.0|
|         0|                                 11.0|                                  0.0|                       1.0|                       1.0|            0.0|
|         0|                                  6.0|                                  0.0|                       0.0|                       0.0|            0.0|
|         1|                                 13.0|                                  0.0|                       0.0|                       1.0|            2.0|
|         0|                                  5.0|                                  0.0|                      29.0|                       2.0|            1.0|
|         1|                                 21.0|                                  0.0|                       0.0|                       0.0|            1.0|
|         1|                                  7.0|                                  0.0|                       1.0|                       2.0|            0.0|
|         1|                                  0.0|                                  0.0|                       1.0|                       1.0|            3.0|
|         0|                                  2.0|                                  0.0|                       1.0|                       1.0|            0.0|
+----------+-------------------------------------+-------------------------------------+--------------------------+--------------------------+---------------+
only showing top 20 rows

In [ ]:
df_final.drop_duplicates().count()

659

In [ ]:
#Đưa ra thống kê cơ bản
df_final.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
is_injured,1000,0.344,0.4752787496721159,0,1
contributing_factor_vehicle_1_encoded,1000,4.308,5.616108677427517,0.0,34.0
contributing_factor_vehicle_2_encoded,1000,0.399,1.6919402062902997,0.0,16.0
vehicle_type_code1_encoded,1000,1.517,3.878240806313057,0.0,33.0
vehicle_type_code2_encoded,1000,2.092,4.167361623725842,0.0,34.0
borough_encoded,1000,1.403,1.4500667893906447,0.0,5.0

In [ ]:
# Count duplicate rows by grouping all columns
duplicate_rows = df_final.groupBy(df_final.columns).count().filter("count > 1")

# Show the duplicates
duplicate_rows.show()

# Count the total number of duplicate rows
duplicate_count = duplicate_rows.count()
print(f"Number of duplicate rows: {duplicate_count}")

+----------+-------------------------------------+-------------------------------------+--------------------------+--------------------------+---------------+-----+
|is_injured|contributing_factor_vehicle_1_encoded|contributing_factor_vehicle_2_encoded|vehicle_type_code1_encoded|vehicle_type_code2_encoded|borough_encoded|count|
+----------+-------------------------------------+-------------------------------------+--------------------------+--------------------------+---------------+-----+
|         0|                                  1.0|                                  0.0|                       0.0|                       0.0|            3.0|    4|
|         1|                                  1.0|                                  0.0|                       0.0|                       0.0|            0.0|    6|
|         0|                                  0.0|                                  0.0|                       1.0|                       0.0|            1.0|    6|
|         1|                                  1.0|                                  1.0|                       0.0|                       1.0|            1.0|    2|
|         0|                                  4.0|                                  0.0|                       0.0|                       0.0|            0.0|    3|
|         0|                                  5.0|                                  0.0|                       0.0|                       0.0|            1.0|    3|
|         0|                                  5.0|                                  0.0|                       0.0|                       0.0|            0.0|    2|
|         0|                                 14.0|                                  0.0|                       1.0|                       2.0|            2.0|    2|
|         0|                                  4.0|                                  0.0|                       0.0|                       1.0|            2.0|    2|
|         1|                                  0.0|                                  0.0|                       0.0|                       0.0|            3.0|    2|
|         0|                                  1.0|                                  0.0|                       0.0|                       2.0|            0.0|    3|
|         0|                                  1.0|                                  0.0|                       0.0|                       1.0|            1.0|    6|
|         0|                                  7.0|                                  0.0|                       1.0|                       2.0|            3.0|    2|
|         0|                                  5.0|                                  0.0|                       1.0|                       0.0|            2.0|    3|
|         0|                                  0.0|                                  0.0|                       0.0|                       0.0|            2.0|    9|
|         0|                                  1.0|                                  0.0|                       1.0|                       0.0|            1.0|    2|
|         0|                                  8.0|                                  0.0|                       0.0|                       0.0|            4.0|    2|
|         0|                                  1.0|                                  0.0|                       0.0|                       0.0|            0.0|    7|
|         1|                                  3.0|                                  0.0|                       0.0|                       0.0|            0.0|    4|
|         1|                                  3.0|                                  0.0|                       0.0|                       0.0|            2.0|    3|
+----------+-------------------------------------+-------------------------------------+--------------------------+--------------------------+---------------+-----+
only showing top 20 rows

Number of duplicate rows: 134

In [ ]:
# Step 1: Convert PySpark DataFrame to Pandas DataFrame
df_pandas = df_final.toPandas()

# Step 2: Export to CSV file
df_pandas.to_csv("/content/df_final.csv", index=False)

# Step 3: Download the CSV file
from google.colab import files
files.download('/content/df_final.csv')