In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when, lit, sum
from pyspark.ml.feature import StringIndexer
from pyspark.sql import DataFrame
from pyspark.sql.types import IntegerType

In [2]:

spark = SparkSession.builder \
    .appName("KafkaSparkStreaming") \
    .master("spark://spark-master:7077") \
    .config("spark.serializer", "org.apache.spark.serializer.KryoSerializer") \
    .getOrCreate()

In [3]:
df = spark.read.parquet("hdfs://namenode:9000/raw_data")

In [4]:
# Đếm tổng số dòng
total_rows = df.count()

# Đếm số dòng trùng lặp
duplicate_rows = df.groupBy(df.columns).count().filter("count > 1").count()

# Hiển thị kết quả
print(f"Tổng số dòng: {total_rows}")
print(f"Số dòng trùng lặp: {duplicate_rows}")

Tổng số dòng: 1000
Số dòng trùng lặp: 115

In [5]:
#Kiem tra du lieu thieu
missing_counts = df.select([sum(col(c).isNull().cast("int")).alias(c) for c in df.columns])
missing_counts.show()

+----------+----------+-------+--------+---------+--------------+---------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+------------------+------------------+------------------+------------------+------------------+
|crash_date|crash_time|borough|latitude|longitude|on_street_name|off_street_name|number_of_persons_injured|number_of_persons_killed|number_of_pedestrians_injured|number_of_pedestrians_killed|number_of_cyclist_injured|number_of_cyclist_killed|number_of_motorist_injured|number_of_motorist_killed|contributing_factor_vehicle_1|contributing_factor_vehicle_2|vehicle_type_code1|vehicle_type_code2|vehicle_type_code3|vehicle_type_code4|vehicle_type_code5|
+----------+----------+-------+--------+---------+--------------+---------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+------------------+------------------+------------------+------------------+------------------+
|         0|         0|    179|       6|        6|           240|            333|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|                            8|                          242|                15|               309|              1000|              1000|              1000|
+----------+----------+-------+--------+---------+--------------+---------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+------------------+------------------+------------------+------------------+------------------+

In [6]:
total_injuries = df.selectExpr("sum(number_of_cyclist_injured) as total_injuries").collect()[0]["total_injuries"]
print("Total number of persons injured:", total_injuries)

Total number of persons injured: 72.0

In [7]:
total_kill = df.selectExpr("sum(number_of_persons_killed) as total_kill").collect()[0]["total_kill"]
print("Total number of persons killed:", total_kill)

Total number of persons killed: 4.0

In [8]:
df.show()

+--------------------+----------+-------------+---------+----------+--------------------+---------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+--------------------+--------------------+------------------+------------------+------------------+
|          crash_date|crash_time|      borough| latitude| longitude|      on_street_name|off_street_name|number_of_persons_injured|number_of_persons_killed|number_of_pedestrians_injured|number_of_pedestrians_killed|number_of_cyclist_injured|number_of_cyclist_killed|number_of_motorist_injured|number_of_motorist_killed|contributing_factor_vehicle_1|contributing_factor_vehicle_2|  vehicle_type_code1|  vehicle_type_code2|vehicle_type_code3|vehicle_type_code4|vehicle_type_code5|
+--------------------+----------+-------------+---------+----------+--------------------+---------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+--------------------+--------------------+------------------+------------------+------------------+
|2024-11-07T00:00:...|     19:50|         null| 40.59359| -73.99613|        BELT PARKWAY|           null|                        2|                       0|                            0|                           0|                        0|                       0|                         2|                        0|         Following Too Clo...|                  Unspecified|Station Wagon/Spo...|               Sedan|              null|              null|              null|
|2024-11-07T00:00:...|      9:58|        BRONX|40.866726| -73.86076|   WILLIAMSBRIDGE RD|      BOSTON RD|                        1|                       0|                            0|                           0|                        0|                       0|                         1|                        0|         Driver Inattentio...|         Driver Inattentio...|               Sedan|       Pick-up Truck|              null|              null|              null|
|2024-11-07T00:00:...|     19:25|     BROOKLYN| 40.62819| -74.02896|                null|           null|                        1|                       0|                            0|                           0|                        1|                       0|                         0|                        0|         Driver Inattentio...|         Driver Inattentio...|Station Wagon/Spo...|                Bike|              null|              null|              null|
|2024-11-07T00:00:...|     16:30|       QUEENS|40.782288| -73.84603|                null|           null|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|             Backing Unsafely|                  Unspecified|               Sedan|Station Wagon/Spo...|              null|              null|              null|
|2024-11-07T00:00:...|      8:25|     BROOKLYN|40.661907| -73.92757|             E 92 ST|     RUTLAND RD|                        2|                       0|                            0|                           0|                        0|                       0|                         2|                        0|                  Unspecified|                  Unspecified|           Box Truck|               Sedan|              null|              null|              null|
|2024-11-07T00:00:...|     18:48|       QUEENS|40.688957|-73.786385|                null|           null|                        1|                       0|                            0|                           0|                        1|                       0|                         0|                        0|         Failure to Yield ...|                  Unspecified|               Sedan|                Bike|              null|              null|              null|
|2024-11-07T00:00:...|     15:00|       QUEENS|40.759335| -73.85002|           MARINA RD|  BOAT BASIN PL|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|         Driver Inattentio...|                  Unspecified|               Sedan|Station Wagon/Spo...|              null|              null|              null|
|2024-11-07T00:00:...|     15:00|    MANHATTAN|40.768223| -73.96064|                null|           null|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|         Driver Inattentio...|                  Unspecified|               Sedan|Station Wagon/Spo...|              null|              null|              null|
|2024-11-07T00:00:...|     19:40|     BROOKLYN| 40.72309| -73.95874|            KENT AVE|        N 12 ST|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|                  Unspecified|                         null|               Sedan|                null|              null|              null|              null|
|2024-11-07T00:00:...|     17:30|STATEN ISLAND|40.605312|   -74.065|           SCHOOL RD|  LILY POND AVE|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|         Driver Inattentio...|                  Unspecified|               Sedan|        Motorscooter|              null|              null|              null|
|2024-11-07T00:00:...|     14:10|    MANHATTAN| 40.76155| -73.96658|               3 AVE|        E 59 ST|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|                  Unspecified|                  Unspecified|               Sedan|               Sedan|              null|              null|              null|
|2024-11-07T00:00:...|     16:45|    MANHATTAN|40.717724| -73.98576|         DELANCEY ST|     CLINTON ST|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|                  Unspecified|                  Unspecified|                Taxi|                Bike|              null|              null|              null|
|2024-11-07T00:00:...|     15:19|     BROOKLYN|40.633457|-73.964676|                null|           null|                        1|                       0|                            0|                           0|                        0|                       0|                         1|                        0|         Driver Inattentio...|                  Unspecified|Station Wagon/Spo...|               Sedan|              null|              null|              null|
|2024-11-07T00:00:...|      4:00|       QUEENS| 40.76854| -73.89341|        DITMARS BLVD|          76 ST|                        1|                       0|                            0|                           0|                        0|                       0|                         1|                        0|         Traffic Control D...|                  Unspecified|               Sedan|       Pick-up Truck|              null|              null|              null|
|2024-11-07T00:00:...|     15:47|       QUEENS| 40.71488|-73.750435|         JAMAICA AVE|         210 ST|                        1|                       0|                            0|                           0|                        0|                       0|                         1|                        0|                       Illnes|                         null|               Sedan|                null|              null|              null|              null|
|2024-11-07T00:00:...|     17:17|     BROOKLYN|40.615932|-73.955505|                null|           null|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|              Other Vehicular|                  Unspecified|Station Wagon/Spo...|               Sedan|              null|              null|              null|
|2024-11-07T00:00:...|     21:49|         null| 40.70052| -74.01551|BROOKLYN BATTERY ...|           null|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|         Following Too Clo...|                  Unspecified|       Pick-up Truck|               Sedan|              null|              null|              null|
|2024-11-07T00:00:...|     18:38|    MANHATTAN|40.730717| -74.00446|             7 AVE S|     BEDFORD ST|                        1|                       0|                            1|                           0|                        0|                       0|                         0|                        0|                  Unspecified|                         null|               Sedan|                null|              null|              null|              null|
|2024-11-07T00:00:...|     19:10|     BROOKLYN|40.657665| -74.00092|               30 ST|          4 AVE|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|         Driver Inattentio...|                  Unspecified|Station Wagon/Spo...|                null|              null|              null|              null|
|2024-11-07T00:00:...|     11:00|       QUEENS|40.765102|  -73.9129|               41 ST|         28 AVE|                        1|                       0|                            1|                           0|                        0|                       0|                         0|                        0|         Failure to Yield ...|                         null|               Sedan|                null|              null|              null|              null|
+--------------------+----------+-------------+---------+----------+--------------------+---------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+--------------------+--------------------+------------------+------------------+------------------+
only showing top 20 rows

In [9]:
df.printSchema()

root
 |-- crash_date: string (nullable = true)
 |-- crash_time: string (nullable = true)
 |-- borough: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- on_street_name: string (nullable = true)
 |-- off_street_name: string (nullable = true)
 |-- number_of_persons_injured: string (nullable = true)
 |-- number_of_persons_killed: string (nullable = true)
 |-- number_of_pedestrians_injured: string (nullable = true)
 |-- number_of_pedestrians_killed: string (nullable = true)
 |-- number_of_cyclist_injured: string (nullable = true)
 |-- number_of_cyclist_killed: string (nullable = true)
 |-- number_of_motorist_injured: string (nullable = true)
 |-- number_of_motorist_killed: string (nullable = true)
 |-- contributing_factor_vehicle_1: string (nullable = true)
 |-- contributing_factor_vehicle_2: string (nullable = true)
 |-- vehicle_type_code1: string (nullable = true)
 |-- vehicle_type_code2: string (nullable = true)
 |-- vehicle_type_code3: string (nullable = true)
 |-- vehicle_type_code4: string (nullable = true)
 |-- vehicle_type_code5: string (nullable = true)

In [10]:
df = df.withColumn('is_injured',
                   when((col('number_of_persons_injured') + col('number_of_persons_killed')) > 0, 1).otherwise(0))

In [11]:
# Xoa nhung cot khong can thiet
cols_to_drop = ['latitude', 'longitude', 'on_street_name', 'off_street_name', 'number_of_persons_injured', 'number_of_pedestrians_killed',
                'number_of_cyclist_injured', 'number_of_motorist_injured', 'number_of_motorist_killed',
                'vehicle_type_code3', 'vehicle_type_code4', 'vehicle_type_code5',
                'crash_date', 'crash_time', 'number_of_persons_killed', 'number_of_pedestrians_injured',
                'number_of_cyclist_killed']
df_dropped_cols = df.drop(*cols_to_drop)

In [12]:
#Kiem tra du lieu thieu
missing_counts = df_dropped_cols.select([sum(col(c).isNull().cast("int")).alias(c) for c in df_dropped_cols.columns])
missing_counts.show()

+-------+-----------------------------+-----------------------------+------------------+------------------+----------+
|borough|contributing_factor_vehicle_1|contributing_factor_vehicle_2|vehicle_type_code1|vehicle_type_code2|is_injured|
+-------+-----------------------------+-----------------------------+------------------+------------------+----------+
|    179|                            8|                          242|                15|               309|         0|
+-------+-----------------------------+-----------------------------+------------------+------------------+----------+

In [13]:
#Fill du lieu thieu bang gia tri mode
categorical_cols = ['contributing_factor_vehicle_1', 'contributing_factor_vehicle_2',
                    'vehicle_type_code1', 'vehicle_type_code2', 'borough']

# for col_name in categorical_cols:
#     # Get the mode value and bring it to the driver
#     mode_value = df_dropped_cols.groupBy(col_name).count().orderBy('count', ascending=False).first()[0]
#     # Fill missing values with the mode
#     df_dropped_cols = df_dropped_cols.fillna({col_name: mode_value})
for col_name in categorical_cols:
    # Lấy mode
    mode_row = df_dropped_cols.groupBy(col_name).count().orderBy('count', ascending=False).first()
    
    # Kiểm tra nếu mode_row và mode_value không phải là None
    if mode_row is not None and mode_row[0] is not None:
        mode_value = mode_row[0]
    else:
        # Nếu không có mode, sử dụng giá trị 0
        mode_value = 0
    
    # Điền giá trị thiếu bằng mode hoặc 0
    df_dropped_cols = df_dropped_cols.fillna({col_name: mode_value})

In [14]:
#Ma hoa du lieu bien phan loai
def encode_categorical_cols(df: DataFrame, categorical_cols: list) -> DataFrame:
    for col_name in categorical_cols:
        indexer = StringIndexer(inputCol=col_name, outputCol=col_name + "_encoded", handleInvalid='keep')
        df = indexer.fit(df).transform(df)
    return df

df_encoded = encode_categorical_cols(df_dropped_cols, categorical_cols)

In [15]:
df_final = df_encoded.drop(*categorical_cols)

In [16]:
# Kiểm tra lại lần nữa xem còn giá trị null không
missing_counts = df_final.select([sum(col(c).isNull().cast("int")).alias(c) for c in df_final.columns])
missing_counts.show()

+----------+-------------------------------------+-------------------------------------+--------------------------+--------------------------+---------------+
|is_injured|contributing_factor_vehicle_1_encoded|contributing_factor_vehicle_2_encoded|vehicle_type_code1_encoded|vehicle_type_code2_encoded|borough_encoded|
+----------+-------------------------------------+-------------------------------------+--------------------------+--------------------------+---------------+
|         0|                                    0|                                    0|                         0|                         0|              0|
+----------+-------------------------------------+-------------------------------------+--------------------------+--------------------------+---------------+

In [17]:
# #Nếu còn dữ liệu null thì xóa các dòng đó đi
# df_final = df_final.drop(how ='any', thresh=None, subset=None)
# df_final.toPandas().info()

In [18]:
df_final.show()

+----------+-------------------------------------+-------------------------------------+--------------------------+--------------------------+---------------+
|is_injured|contributing_factor_vehicle_1_encoded|contributing_factor_vehicle_2_encoded|vehicle_type_code1_encoded|vehicle_type_code2_encoded|borough_encoded|
+----------+-------------------------------------+-------------------------------------+--------------------------+--------------------------+---------------+
|         1|                                  3.0|                                  0.0|                       1.0|                       1.0|            0.0|
|         1|                                  0.0|                                  1.0|                       0.0|                       4.0|            3.0|
|         1|                                  0.0|                                  1.0|                       1.0|                       3.0|            0.0|
|         0|                                  9.0|                                  0.0|                       0.0|                       2.0|            1.0|
|         1|                                  1.0|                                  0.0|                       7.0|                       1.0|            0.0|
|         1|                                  2.0|                                  0.0|                       0.0|                       3.0|            1.0|
|         0|                                  0.0|                                  0.0|                       0.0|                       2.0|            1.0|
|         0|                                  0.0|                                  0.0|                       0.0|                       2.0|            2.0|
|         0|                                  1.0|                                  0.0|                       0.0|                       0.0|            0.0|
|         0|                                  0.0|                                  0.0|                       0.0|                      13.0|            4.0|
|         0|                                  1.0|                                  0.0|                       0.0|                       1.0|            2.0|
|         0|                                  1.0|                                  0.0|                       2.0|                       3.0|            2.0|
|         1|                                  0.0|                                  0.0|                       1.0|                       1.0|            0.0|
|         1|                                  7.0|                                  0.0|                       0.0|                       4.0|            1.0|
|         1|                                 26.0|                                  0.0|                       0.0|                       0.0|            1.0|
|         0|                                  5.0|                                  0.0|                       1.0|                       1.0|            0.0|
|         0|                                  3.0|                                  0.0|                       3.0|                       1.0|            0.0|
|         1|                                  1.0|                                  0.0|                       0.0|                       0.0|            2.0|
|         0|                                  0.0|                                  0.0|                       1.0|                       0.0|            0.0|
|         1|                                  2.0|                                  0.0|                       0.0|                       0.0|            1.0|
+----------+-------------------------------------+-------------------------------------+--------------------------+--------------------------+---------------+
only showing top 20 rows

In [19]:
#Đưa ra thống kê cơ bản
df_final.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
is_injured,1000,0.508,0.500186151533793,0,1
contributing_factor_vehicle_1_encoded,1000,4.547,6.073769972733715,0.0,33.0
contributing_factor_vehicle_2_encoded,1000,0.487,1.9119326574140865,0.0,17.0
vehicle_type_code1_encoded,1000,1.852,4.277194219390837,0.0,34.0
vehicle_type_code2_encoded,1000,3.199,5.657154974225332,0.0,40.0
borough_encoded,1000,0.991,1.1697381276539158,0.0,4.0

In [20]:
# feature
x = df_final.drop("is_injured")
# label
y = df_final.select("is_injured")